@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

.hero__subtitle img{
    width: 2.3rem;
    height: 2.3rem;
    margin:5px 5px;
}


.hero__content h1{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}
.hero__content p{
  color:var(--text-color);
  font-size: 1.2rem;
  line-height: 2.3rem;
}

.hero__content h1 .highlight{
  color: var(--secondary-color);
}

.heroimg img ,.heroimg video {
/* margin-top: 30px; */
width: 100%;
height: 345px;
border-radius: 20px;
border: 1px solid var(--secondary-color);
object-fit: cover;
}

.hero__content{
    padding-top: 3.5rem;
}

.heroimg{
    padding-top: 2rem;
}


.services_subtitle{
font-size: 2.1 rem ;
font-weight:600;
color:var(--secondary-color);
}
.services_title{
  font-size:2.3rem;
  font-weight: 600;
}

.featured_tour{
  font-size:2.4rem;
  font-weight:500;
}


.experience_content h2{
font-size: 2.4rem;
margin-top: 1rem;
font-weight: 600;
}

.experience_content p{
  font-size:1.1rem;
  color:var(--text-color);
  margin-top: 1.1rem;
}

.counter_wrapper{
 margin-top: 2.4rem;
}

.counter_box span{
  width:60px;
  height:61px;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 50%;
}

.counter_box h6{
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color:var(--text-color);
 
}

.experience_img img{
  width: 85%;

}

.gallery_title{
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.masonry_img{
  transition: .3s;
}

.masonry_img:hover{
  transform:scale(1.1);
}

.testimonial_title{
  font-size: 2.3rem;
  margin-top: 1rem;
}

@media only screen and (max-width:992px) {
   .hero__content{
    font-size: 2.7rem;
   }
    .heroimg{
      display: none;
    }
    .herovideo{
      display: block;
    }
   .services_title,.featured_tour,.gallery_title,.testimonial_title
   ,.experience_content h2{
    font-size: 2rem;
   }
   .experience_img{
    margin-top: 2rem;
   }
}

@media only screen and (max-width:756px) {
  .hero__content h1{
    font-size: 1.8rem;
  }

  .services_title,.featured_tour,.gallery_title,.testimonial_title
  ,.experience_content h2{
    font-size: 1.5rem;
  }
}