@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
   --primary-color: #ff7e01;
  --secondary-color: #faa935; 
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

.service_item{
    padding:1rem;
    border-bottom: 1px solid #faa83586;
    border-right: 1px solid #faa83586;
    border-radius: 0.5rem;
}





.service_item h5{
    font-size:1.2rem;
    font-weight: 600;
}

.service_item p{
    font-weight:.9rem;
    color:var(--text-color)
}


@media only screen and (max-width:992px) {
    
}